/* Restante do seu CSS existente */

body {
    font-family: "Times New Roman", Times, serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5; /* Cor de fundo mais clara para uma sensação de papel envelhecido */
    color: #333333; /* Cor do texto mais escura para contrastar com o fundo */
    margin-bottom: 3%;
}

main {
    padding: 20px;
}

article {
    margin-bottom: 40px;
}

article h2 {
    font-size: 1.8rem; /* Tamanho maior para os títulos dos capítulos */
    font-weight: bold; /* Negrito para os títulos */
    margin-bottom: 10px; /* Espaçamento inferior para separar os títulos dos parágrafos */
}

article p {
    font-size: 1.4rem; /* Tamanho maior para o texto */
    line-height: 1.6;
}

footer {
    background-color: #2c2c2c;
    text-align: center;
    padding-top: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
    border-top: 2px solid #4a4a4a;
}

footer p {
    font-size: 0.8rem;
}

/* Estilo do header */

header {
    background-color: #4a4a4a; /* Cor mais escura para o cabeçalho */
    padding: 20px;
    text-align: center;
    border-bottom: 2px solid #2c2c2c; /* Contraste com a cor de fundo do cabeçalho */
}

header h1 {
    font-size: 2.5rem; /* Tamanho maior para o título principal */
    margin: 0;
    color: #f5f5f5; /* Cor do texto do cabeçalho */
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap; /* Permitir que os itens se ajustem ao tamanho da tela */
    justify-content: center; /* Centralizar os itens horizontalmente */
}

nav ul li {
    border: 2px solid #2c2c2c; /* Borda ao redor de cada item */
    border-radius: 5px; /* Borda arredondada */
    margin-right: 10px; /* Espaçamento entre os itens */
    margin-bottom: 10px; /* Espaçamento inferior */
}

nav ul li a {
    text-decoration: none;
    color: #f5f5f5; /* Cor do texto dos links */
    font-size: 1.2rem; /* Tamanho do texto dos links */
    padding: 10px 20px; /* Espaçamento interno dos links */
}

nav ul li a:hover {
    background-color: #2c2c2c; /* Cor de fundo ao passar o mouse */
}

nav ul li a:active {
    background-color: #1f1f1f; /* Cor de fundo quando clicado */
}

button {
    color: #f5f5f5; /* Cor do texto do botão */
    background-color: #4a4a4a; /* Cor de fundo do botão */
    font-size: 1.2rem; /* Tamanho do texto do botão */
    border: none; /* Remover borda */
    padding: 10px 20px; /* Espaçamento interno do botão */
    cursor: pointer; /* Alterar cursor ao passar por cima */
}

button:hover {
    background-color: #2c2c2c; /* Cor de fundo ao passar o mouse */
}

button:active {
    background-color: #1f1f1f; /* Cor de fundo quando clicado */
}

img:active {
    transform: scale(1.1); /* Efeito de escala ao clicar na imagem */
}

.ilustrated {
    color: #00ffff !important; /* Cor do texto destacado */
}
